body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #3498db;
}


.bobony-family {
    text-align: center;
    margin-top: 20px;
}

.bobony-family .watermark {
    display: inline-block;
    padding: 10px 20px;
    background: #ff4500;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.bobony-family .watermark:hover {
    background: #e63900;
}
